# .coveragerc file for pytest-cov (i.e. coverage).
# Runs in Github Actions .github/workflows/ci-cd.yaml and tox.ini.
# Config file documentation at https://coverage.readthedocs.io/en/latest/config.html

[run]
branch = True
concurrency = multiprocessing
source = ./
omit =
    .*/*
    docs/*
    htmlcov/*
    tests/*
    webchanges/_vendored/*
    webchanges.egg-info/*
    setup.py
    webchanges.py
relative_files = True
command_line = -m pytest -vv
plugins =
    coverage_conditional_plugin

[coverage_conditional_plugin]
# Requires pip install coverage-conditional-plugin
# Here we specify our pragma rules:
rules =
    "is_installed('bs4')": has-bs4
    "is_installed('jq')": has-jq
    "is_installed('pdftotext')": has-pdftotext
    "is_installed('pytesseract')": has-pytesseract

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug:

    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain if module is not importable (handled by code):
    except ImportError:

    # Don't cover IDE code:
    if TYPE_CHECKING:
# ignore_errors = True
