[flake8]
# Check for errors, style, [and over-complexity].
# Runs as part of pre-commit.
# Config file documentation at https://flake8.pycqa.org/en/latest/user/configuration.html

ignore = E203,W503,S101
    # E203  whitespace before ':' [black conflict]
    # W503  line break before binary operator [conflicts with W504]
    # S101  Use of assert detected. The enclosed code will be removed when compiling to optimised byte code.
max-line-length = 120
