/*.egg-info/
/.idea/
/.mypy_cache/
/.pytest_cache/
/.tox/
/__pycache__/
/build/
/dist/
/docs/_build/
/htmlcov/
/pip/
/tests/htmlcov/
/venv*/
/.coverage*
/coverage.xml
/tests/.coverage*
/tests/coverage.xml
