__pycache__/
/*.egg-info/
/.github/workflows/.*
/.idea/
/.mypy_cache/
/.pytest_cache/
/.private/
/.ruff_cache/
/.tox/
/.vscode/
/build/
/dist/
/docs/_build/
/htmlcov/
/pip/
/tests/.coverage*
/tests/coverage.xml
/tests/htmlcov/
/venv*/
/webchanges/.*
/.coverage*
/.dmypy.json
/coverage.xml
/credentials*
/Dockerfile
/hooks*.py
/test_vendored.py

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json
