# pip requirements for pre-commit (in addition to ./requirements.txt and /docs/requirements.txt)
black
doc8
docutils
docutils-stubs
flake8
flake8-bandit
flake8-quotes
flynt
isort
lxml-stubs
mypy
pre-commit
tox-ini-fmt
types-backports
types-docutils
types-psutil
types-python-dateutil
types-PyYAML
types-redis
types-requests
types-simplejson
types-vobject
types-xmltodict
