# pip requirements for pytest (testing)
# EXCLUDES requirements for testing 'ocr' and 'pdf2text' filters as they require OS-specific installs

# requires ../requirements_free-threaded.txt to also be installed
-r ../requirements_free-threaded.txt

# aioxmpp  # does not install in oct-2025 (obsolete lxml~=4.0 dependency fails to build)
beautifulsoup4
chump
coverage
coverage-conditional-plugin
cssbeautifier
deepdiff
docutils
flake8
h2
html5lib
httpx
# jq; sys_platform != 'win32'  # does not work free-threaded nov-2025
jsbeautifier
keyring
matrix-client
minidb
numpy
pillow
# playwright  # does not work free-threaded nov-2025 
psutil
pushbullet.py
pygments
pypdf[crypto]
pytest
pytest-cov
pytest-mock
# pytest-playwright  # see playwright
python-dateutil
# pytz  # bug in aioxmpp, which does not install in oct-2025
redis
requests
tzdata; sys_platform == 'win32'
urllib3
vobject
xmltodict
