# pip requirements for pytest (testing) (in addition to /requirements.txt)
# EXCLUDES requirements for testing 'ocr' and 'pdf2text' filters as they require OS-specific installs
aioxmpp
beautifulsoup4
chump
coverage
coverage_conditional_plugin
cssbeautifier
docutils
flake8
jq; os_name != 'nt' and python_version < '3.10'
jsbeautifier
keyring
matrix_client
minidb
pushbullet.py
Pygments
pyppeteer
pytest
pytest-cov
redis
vobject
