# pip requirements for pytest (testing) (in addition to /requirements.txt)
# EXCLUDES requirements for testing 'ocr' and 'pdf2text' filters as they require OS-specific installs
aioxmpp
beautifulsoup4
chump
coverage
coverage-conditional-plugin
cssbeautifier
docutils
flake8
flake8-bandit
flake8-quotes
jq; os_name != 'nt' and python_version < '3.10'
jsbeautifier
keyring
matrix-client
minidb
playwright
psutil
pushbullet.py
Pygments
pytest
pytest-asyncio
pytest-cov
# pytz required temporarily due to https://github.com/horazont/aioxmpp/pull/390
pytz
redis
vobject
