# pip requirements for pre-commit (in addition to /requirements.txt and /docs/requirements.txt)
bandit
black
doc8
docutils
docutils-stubs
flake8
flake8-bandit
flake8-quotes
flynt
isort
mypy
pre-commit
tox-ini-fmt
types-backports
types-docutils
types-PyYAML
types-redis
types-requests
