# pip requirements for pytest (testing) (in addition to ./requirements.txt)
# EXCLUDES requirements for testing 'ocr' and 'pdf2text' filters as they require OS-specific installs
aioxmpp; python_version <= '3.12'  # does not install in 3.13 (broken)
beautifulsoup4
chump
coverage
coverage-conditional-plugin
cssbeautifier
deepdiff
docutils
flake8
flake8-bandit
flake8-quotes
h2
html5lib
httpx
jq; os_name != 'nt'
jsbeautifier
keyring
matrix-client
minidb
numpy; python_version == '3.13'  # only test latest
Pillow; python_version == '3.13'  # only test latest
playwright
psutil
pushbullet.py
Pygments
pypdf[crypto]
pytest
pytest-cov
pytest-playwright
python-dateutil; python_version == '3.13'  # only test latest
pytz; python_version <= '3.12'  # bug in aioxmpp, which does not install in 3.13
redis
requests
urllib3
vobject
xmltodict
