# GitHub Actions docs: https://docs.github.com/en/actions/learn-github-actions
# Reference syntax: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
# Env. vars: https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables
# Add'l variables (contexts): https://docs.github.com/en/actions/learn-github-actions/contexts

# Requires encrypted secret (see https://docs.github.com/en/actions/security-guides/encrypted-secrets)
# secrets.pypi_password

# This file is automatically "updated" with PRs by the "pre-commit ci" app in GitHub https://pre-commit.ci; it is
# currently scheduled weekly at approximately 16:00 UTC Monday.


name: Test and deploy release
on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1
  PYTHONUNBUFFERED: 1
  PYTHONUTF8: 1

jobs:
  # Set the job key. The key is displayed as the job name when a job name is not provided.
  test:
    # matrix.* values are defined below in strategy.
    name: "Test ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    # Identifies any jobs that must complete successfully before this job will run.
    # needs: [pre-commit]

    # A strategy creates a build matrix for your jobs. You can define different variations to run each job in.
    strategy:
      matrix:
        # Python versions at https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
        # RCs need to be specified fully, e.g. '3.13.0-rc.3', or use allow-preleleases: true in setup-python.
        python-version: ['3.14t', '3.14', '3.13', '3.12', '3.11']
        os: ['ubuntu-latest', 'macos-latest']
        # 29-oct-24 lxml does not build for free-threaded even with libxml2 and libxslt1 development packages
        # 23-nov-24 cryptography doesn't build for free-threaded

    # # Set up Redis per https://docs.github.com/en/actions/guides/creating-redis-service-containers
    # # If you are using GitHub-hosted runners, you must use an Ubuntu runner
    # services:
    #   # Label used to access the service container
    #   redis:
    #     # Docker Hub image
    #     image: redis
    #     # Set health checks to wait until redis has started
    #     options: >-
    #       --health-cmd "redis-cli ping"
    #       --health-interval 10s
    #       --health-timeout 5s
    #       --health-retries 5
    #     ports:
    #       # Maps port 6379 on service container to the host
    #       - 6379:6379

    env:
      commitmsg: ${{ github.event.head_commit.message }}  # only available at check-out; becomes env.commitmsg
      TELEGRAM_TOKEN: ${{ secrets.telegram_token }}  # for telegram testing
      UV_SYSTEM_PYTHON: 1  # for uv, turns on --system by default
      UV_CACHE_DIR: /tmp/.uv-cache  # for uv's persistent cache

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      # Checks out a copy of the repository per https://github.com/actions/checkout
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Install uv per https://github.com/astral-sh/setup-uv
      # Docs at https://docs.astral.sh/uv/guides/integration/github
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: ${{ matrix.python-version }}

      # Build Python and packages per https://github.com/actions/setup-python
      # Using actions/setup-python can be faster than uv, because GitHub caches the Python versions alongside the runner.
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Restore uv cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}

#      - name: Install build dependencies for wheel-less lxml (Linux) in latest Python version
#        # https://lxml.de/installation.html#installation
#        if: ${{ matrix.python-version == '3.15' && runner.os == 'Linux' }}
#        run: |
#          sudo apt-get -y update
#          sudo apt-get -y install libxml2-dev libxslt-dev python3-dev
#          CFLAGS="-O0" uv pip install --system lxml

      - name: Install redis, pdf2text and ocr dependencies (Linux w/latest Python)
        # do full install and testing of pdf2text and ocr only on latest Python version
        if: ${{ matrix.python-version == '3.14' && runner.os == 'Linux' }}
        # https://github.com/jalan/pdftotext#os-dependencies
        run: |
          sudo apt-get update
          sudo apt-get install redis-server python3-dbus build-essential libpoppler-cpp-dev pkg-config python3-dev tesseract-ocr
          export REDIS_URI="redis://localhost:6379"
          uv pip install --system --upgrade pdftotext pytesseract

      - name: Install pdf2text and ocr dependencies (macOS w/latest Python)
        # do full install and testing of pdf2text and ocr only on latest Python version
        if: ${{  matrix.python-version == '3.14' && runner.os == 'macOS' }}
        run: |
          brew update
          brew install poppler tesseract
          uv pip install --system --upgrade pdftotext pytesseract

      - name: Install all other dependencies (GIL)
        if: ${{ ! endsWith(matrix.python-version, 't') }}
        run: |
          uv pip install --system --upgrade coveralls -r tests/requirements_pytest.txt

      - name: Install all other dependencies (free-threaded)
        if:  ${{ endsWith(matrix.python-version, 't') }}
        run: |
          export PYTHON_GIL=0
          uv pip install --system --upgrade coveralls -r tests/requirements_pytest_free-threaded.txt

      - name: Run tests
        # python -m required to get it to run in the correct directory; '>' folded style scalar (allows splitting line)
        run: >
          python -m pytest -v --cov=./ --cov-report=term tests/

      - name: Upload coverage data to coveralls.io (parallel)
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          COVERALLS_FLAG_NAME: tests-${{ matrix.python-version }}-${{ matrix.os }}
          COVERALLS_PARALLEL: true
        continue-on-error: true

      - name: Minimize uv cache
        run: uv cache prune --ci

#   test_macos:
#     # No redis (only works on ubuntu)
#     name: "Test ${{ matrix.python-version }} on ${{ matrix.os }}"
#     # matrix.os is defined in strategy.
#     runs-on: ${{ matrix.os }}
#     # Identifies any jobs that must complete successfully before this job will run
#     # needs: [pre-commit]
#     # A strategy creates a build matrix for your jobs. You can define different variations to run each job in
#     strategy:
#       matrix:
#         # Python versions at https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
#         # RCs need to be specified fully, e.g. '3.13.0-rc.3', or use allow-preleleases: true in setop-python
#         python-version: ['3.14t', '3.14', '3.13', '3.12', '3.11']
#         os: [macos-latest]
#         # disable-gil: [false]
#         # # 29-oct-24 lxml does not build for free-threaded even with libxml2 and libxslt1 development packages
#         # # 23-nov-24 cryptography doesn't build for free-threaded
#         # include:
#         #   # Free-threaded from https://github.com/actions/setup-python/issues/771#issuecomment-2439954031
#         #   - { os: ubuntu-latest, python-version: '3.14', disable-gil: true }
#     env:
#       commitmsg: ${{ github.event.head_commit.message }}  # only available at check-out; becomes env.commitmsg
#       TELEGRAM_TOKEN: ${{ secrets.telegram_token }}  # for telegram testing
# #      REDIS_URI: redis://localhost:6379  # redis only available for Ubuntu
#       UV_SYSTEM_PYTHON: 1  # for uv, turns on --system by default
#       UV_CACHE_DIR: /tmp/.uv-cache  # for uv's persistent cache

#     steps:
#       - name: Harden the runner (Audit all outbound calls)
#         uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
#         with:
#           egress-policy: audit

#       # Checks out a copy of the repository per https://github.com/actions/checkout
#       - name: Check out repo
#         uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

#       # Install uv per https://github.com/astral-sh/setup-uv
#       # Docs at https://docs.astral.sh/uv/guides/integration/github
#       - name: Install Python using uv
#         uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
#         with:
#           python-version: ${{ matrix.python-version }}
#           enable-cache: true

#       - name: Restore uv cache
#         uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
#         with:
#           path: /tmp/.uv-cache
#           key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
#           restore-keys: |
#             uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
#             uv-${{ runner.os }}

#       # # Build Python and packages per https://github.com/actions/setup-python
#       # - name: Set up Python ${{ matrix.python-version }}
#       #   uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
#       #   with:
#       #     python-version: ${{ matrix.python-version }}
#       #     allow-prereleases: true

# #      - name: Install wheel-less lxml for latest Python
# #        # https://lxml.de/installation.html#installation
# #        if: matrix.python-version == '3.15'
# #        run: |
# #          STATIC_DEPS=true sudo -H pip install lxml

#       - name: Install pdf2text and ocr dependencies (Python latest)
#         # do full install and testing of pdf2text and ocr only on latest Python version
#         if: matrix.python-version == '3.14'
#         run: |
#           brew update
#           brew install poppler tesseract
#           uv pip install --system --upgrade pdftotext pytesseract

#       - name: Install all other dependencies (GIL)
#         if: ! endsWith(matrix.python-version, 't')
#         run: |
#           uv pip install --system --upgrade coveralls -r requirements.txt -r tests/requirements_pytest.txt

#       - name: Install all other dependencies (free-threaded)
#         if: endsWith(matrix.python-version, 't')
#         run: |
#           uv pip install --system --upgrade coveralls -r requirements_free-threaded.txt -r tests/requirements_pytest.txt


# #      - name: Install all other dependencies (py12)
# #        if: matrix.python-version == '3.12'
# #        run: |
# #          uv pip install --system --upgrade --no-deps playwright >=1.37 greenlet==3.0 pyee==11.0
# #          uv pip install --system --upgrade coveralls -r requirements.txt -r tests/requirements_pytest_312.txt
# #          uv pip install --system --upgrade --no-deps pyee==11.0

#       - name: Run tests
#         # python -m required to get it to run in the correct directory; '>' folded style scalar (allows splitting line)
#         run: >
#           python -m pytest -v --cov=./ --cov-report=term tests/

#       - name: Upload coverage data to coveralls.io (parallel)
#         run: coveralls --service=github
#         env:
#           GITHUB_TOKEN: ${{ secrets.github_token }}
#           COVERALLS_FLAG_NAME: tests-${{ matrix.python-version }}-${{ matrix.os }}
#           COVERALLS_PARALLEL: true
#         continue-on-error: true

#       - name: Minimize uv cache
#         run: uv cache prune --ci

# NOTES FROM 15-Apr-2024 on Windows testing:
# No need to install poppler, tesseract etc. (tests will skip)
# However, pytest would simply crash at collecting (Error: Process completed with exit code 1) so no good.
# Was doing the same on 02-Sep-2023

#  test_windows:
#    # No redis (only works on Ubuntu), only run on latest python-version
#    name: "Test ${{ matrix.python-version }} on ${{ matrix.os }}"
#    runs-on: ${{ matrix.os }}
#    # Identifies any jobs that must complete successfully before this job will run
#    # needs: [pre-commit]
#    # A strategy creates a build matrix for your jobs. You can define different variations to run each job in
#    strategy:
#      matrix:
#        # Python versions at https://github.com/actions/python-versions/releases
#        python-version: ['3.12']
#        os: [windows-latest]
#
#    env:
#      commitmsg: ${{ github.event.head_commit.message }}  # only available at check-out; becomes env.commitmsg
#      TELEGRAM_TOKEN: ${{ secrets.telegram_token }}  # for telegram testing
#      REDIS_URI: redis://localhost:6379
#
#    steps:
#      # Checks out a copy of the repository per https://github.com/actions/checkout
#      - name: Check out repo
#        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
#
#      # Build Python and packages per https://github.com/actions/setup-python
#      - name: Set up Python ${{ matrix.python-version }}
#        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
#        with:
#          python-version: ${{ matrix.python-version }}
#          allow-prereleases: true
#          cache: 'pip'
#          cache-dependency-path: |
#            requirements.txt
#            tests/requirements_pytest.txt
#
#      - name: Upgrade pip etc.
#        run: |
#          pip install --upgrade pip setuptools wheel
#
##      ISSUE WITH THE BELOW:
##      Hangs at start /wait "" Miniconda3-latest-Windows-x86_64.exe /RegisterPython=0 /D=%temp%\Miniconda3
##      - name: Install pdf2text and ocr dependencies (Python 3.11)
##        # do full install and testing of pdf2text and ocr only on latest Python version
##        if: matrix.python-version == '3.11'
##        run: |
##          cd %temp%
##          dir
##          rem # install conda per https://conda.io/projects/conda/en/stable/user-guide/install/windows.html
##          curl https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe -O
##          powershell Get-FileHash Miniconda3-latest-Windows-x86_64.exe -Algorithm SHA256
##          echo hash should match the one at https://docs.conda.io/projects/miniconda/en/latest/
##          rem # below, /S = silent mode
##          start /wait "" Miniconda3-latest-Windows-x86_64.exe /RegisterPython=0 /D=%temp%\Miniconda3
##          del Miniconda3-latest-Windows-x86_64.exe /f
##          call "%temp%\Miniconda3\conda" install -y -c conda-forge poppler
##          rem # *** get latest tesseract filename from https://digi.bib.uni-mannheim.de/tesseract/?C=M;O=D
##          set TESSERACT=tesseract-ocr-w64-setup-5.3.1.20230401.exe
##          curl https://digi.bib.uni-mannheim.de/tesseract/%TESSERACT% -O
##          start /wait "" %TESSERACT% /S
##          del %TESSERACT% /f
##          pip install --upgrade keyring pdftotext Pillow pytesseract
##        shell: cmd
#
#      - name: Install all other dependencies
##        if: matrix.python-version <= '3.11'
#        run: |
#          pip install --upgrade coveralls -r requirements.txt -r tests/requirements_pytest.txt
#
##      - name: Install all other dependencies (Python 3.12)
##        if: matrix.python-version > '3.11'
##        run: |
##          pip install --upgrade greenlet==3.0.0a1 coveralls -r requirements.txt -r tests/requirements_pytest.txt
#
#      - name: Run tests
#        # workaround for Windows fatal exception: access violation
#        # python -m required to get it to run in the correct directory; '>' folded style scalar (allows splitting line)
#        run: >
#          python -m pytest -v --cov=./ --cov-report=term tests/ -p no:faulthandler
#
#      - name: Upload coverage data to coveralls.io (parallel)
#        run: coveralls --service=github
#        env:
#          GITHUB_TOKEN: ${{ secrets.github_token }}
#          COVERALLS_FLAG_NAME: tests-${{ matrix.python-version }}-${{ matrix.os }}
#          COVERALLS_PARALLEL: true
#        continue-on-error: true

  coveralls:
    name: Completion -> coveralls.io
#    needs: [test_ubuntu, test_macos, test_windows]
    # needs: [test_ubuntu, test_macos]
    needs: [test]
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - name: Coveralls parallel finished
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true

  deploy:
    name: Deploy release
    permissions:
      contents: write  # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write  # IMPORTANT: this permission is mandatory for create GitHub release
#    needs: [test_ubuntu, test_macos, test_windows]
    # needs: [test_ubuntu, test_macos]
    needs: [test]
    # ref https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Install uv per https://github.com/astral-sh/setup-uv
      # Docs at https://docs.astral.sh/uv/guides/integration/github
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: true

      - name: Restore uv cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.14'

      # Install pip dependencies
      - name: Install dependencies
        run: |
          uv pip install --system --upgrade build

      # build https://pypa-build.readthedocs.io/en/latest/
      - name: Build dist
        run: |
          python -m build

      # PyPI publish GitHub Action from https://github.com/pypa/gh-action-pypi-publish
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1


      - name: Create GitHub release
        uses: softprops/action-gh-release@aa05f9d77940d1a6b7a495c3264de51fabbf36d9 # master
        with:
          body_path: RELEASE.rst
          draft: false
          prerelease: false
          preserve_order: false
          make_latest: true

      - name: Minimize uv cache
        run: uv cache prune --ci
