# GitHub Actions docs: https://docs.github.com/en/actions/learn-github-actions
# Reference syntax: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
# Env. vars: https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables
# Add'l variables (contexts): https://docs.github.com/en/actions/learn-github-actions/contexts

# Requires encrypted secret (see https://docs.github.com/en/actions/security-guides/encrypted-secrets)
# secrets.pypi_password

# This file is automatically "updated" with PRs by the "pre-commit ci" app in GitHub https://pre-commit.ci; it is
# currently scheduled weekly at approximately 16:00 UTC Monday.


name: Test and deploy release
on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1
  PYTHONUNBUFFERED: 1
  PYTHONUTF8: 1

jobs:
  # Set the job key. The key is displayed as the job name when a job name is not provided.
  test:
    # matrix.* values are defined below in strategy.
    name: "Test ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    # Identifies any jobs that must complete successfully before this job will run.
    # needs: [pre-commit]

    # A strategy creates a build matrix for your jobs. You can define different variations to run each job in.
    strategy:
      matrix:
        # Python versions at https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
        # RCs need to be specified fully, e.g. '3.13.0-rc.3', or use allow-preleleases: true in setup-python.
        python-version: ['3.14t', '3.14', '3.13', '3.12', '3.11']
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']

    env:
      commitmsg: ${{ github.event.head_commit.message }}  # only available at check-out; becomes env.commitmsg
      TELEGRAM_TOKEN: ${{ secrets.telegram_token }}  # for telegram testing
      UV_SYSTEM_PYTHON: 1  # for uv, turns on --system by default
      UV_CACHE_DIR: /tmp/.uv-cache  # for uv's persistent cache

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      # Checks out a copy of the repository per https://github.com/actions/checkout
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Install uv per https://github.com/astral-sh/setup-uv / https://docs.astral.sh/uv/guides/integration/github
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: ${{ matrix.python-version }}

      # Build Python and packages per https://github.com/actions/setup-python
      # Using actions/setup-python can be faster than uv, because GitHub caches the Python versions alongside the runner.
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Restore uv cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}

      - name: Install redis, pdf2text and ocr dependencies (Linux w/latest Python)
        # Do full install and testing of pdf2text and ocr only on latest Python version
        if: ${{ matrix.python-version == '3.14' && runner.os == 'Linux' }}
        # https://github.com/jalan/pdftotext#os-dependencies
        run: |
          sudo apt-get update
          sudo apt-get install redis-server python3-dbus build-essential libpoppler-cpp-dev pkg-config python3-dev tesseract-ocr
          export REDIS_URI="redis://localhost:6379"
          uv pip install --upgrade pdftotext pytesseract

      - name: Install pdf2text and ocr dependencies (macOS w/latest Python)
        # Do full install and testing of pdf2text and ocr only on latest Python version
        if: ${{ matrix.python-version == '3.14' && runner.os == 'macOS' }}
        run: |
          brew update
          brew install poppler tesseract
          uv pip install --upgrade pdftotext pytesseract

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
        if: ${{ matrix.python-version == '3.14' && runner.os == 'Windows' }}
        with:
          auto-update-conda: true
          python-version: 3.9

      - name: Install pdf2text and ocr dependencies (Windows w/latest Python)
        # Do full install and testing of pdf2text and ocr only on latest Python version
        if: ${{ matrix.python-version == '3.14' && runner.os == 'Windows' }}
        shell: pwsh
        run: |
          # Install Poppler
          conda install -c conda-forge poppler --yes

          # Install Tesseract
          # See https://github.com/UB-Mannheim/tesseract/wiki
          $tesseractInstallerUrl = "https://github.com/tesseract-ocr/tesseract/releases/download/5.5.0/tesseract-ocr-w64-setup-5.5.0.20241111.exe" # Replace with the latest version
          $tesseractInstallerPath = "$env:TEMP\tesseract-ocr-setup.exe"
          Invoke-WebRequest -Uri $tesseractInstallerUrl -OutFile $tesseractInstallerPath
          # Run the installer silently
          Start-Process -FilePath $tesseractInstallerPath -ArgumentList "/S /D=C:\Program Files\Tesseract-OCR" -Wait -NoNewWindow
          # Add Tesseract to PATH
          $env:Path += ";C:\Program Files\Tesseract-OCR"
          echo "C:\Program Files\Tesseract-OCR" | Out-File -FilePath $env:GITHUB_PATH -Append

          # Install Python packages
          uv pip install --upgrade pdftotext pytesseract

      - name: Install all other dependencies (GIL)
        if: ${{ ! endsWith(matrix.python-version, 't') }}
        run: |
          uv pip install --upgrade coveralls -r tests/requirements_pytest.txt

      - name: Run tests (GIL)
        if: ${{ ! endsWith(matrix.python-version, 't') }}
        # python -m required to get it to run in the correct directory; '>' folded style scalar (allows splitting line)
        run: >
          python -m pytest -v --cov=./ --cov-report=term --browser chromium --browser-channel chrome tests/

      - name: Install all other dependencies (free-threaded)
        if:  ${{ endsWith(matrix.python-version, 't') }}
        run: |
          uv pip install --upgrade coveralls -r tests/requirements_pytest_free-threaded.txt

      - name: Run tests (free-threaded)
        if: ${{ endsWith(matrix.python-version, 't') }}
        # python -m required to get it to run in the correct directory; '>' folded style scalar (allows splitting line)
        run: >
          python -m pytest -v --cov=./ --cov-report=term tests/

      - name: Upload coverage data to coveralls.io (parallel)
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          COVERALLS_FLAG_NAME: tests-${{ matrix.python-version }}-${{ matrix.os }}
          COVERALLS_PARALLEL: true
        continue-on-error: true

      - name: Minimize uv cache
        run: uv cache prune --ci

#  test_windows:
#    # No redis (only works on Ubuntu), only run on latest python-version
#    name: "Test ${{ matrix.python-version }} on ${{ matrix.os }}"
#    runs-on: ${{ matrix.os }}
#    # Identifies any jobs that must complete successfully before this job will run
#    # needs: [pre-commit]
#    # A strategy creates a build matrix for your jobs. You can define different variations to run each job in
#    strategy:
#      matrix:
#        # Python versions at https://github.com/actions/python-versions/releases
#        python-version: ['3.12']
#        os: [windows-latest]
#
#    env:
#      commitmsg: ${{ github.event.head_commit.message }}  # only available at check-out; becomes env.commitmsg
#      TELEGRAM_TOKEN: ${{ secrets.telegram_token }}  # for telegram testing
#      REDIS_URI: redis://localhost:6379
#
#    steps:
#      # Checks out a copy of the repository per https://github.com/actions/checkout
#      - name: Check out repo
#        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
#
#      # Build Python and packages per https://github.com/actions/setup-python
#      - name: Set up Python ${{ matrix.python-version }}
#        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
#        with:
#          python-version: ${{ matrix.python-version }}
#          allow-prereleases: true
#          cache: 'pip'
#          cache-dependency-path: |
#            requirements.txt
#            tests/requirements_pytest.txt
#
#      - name: Upgrade pip etc.
#        run: |
#          pip install --upgrade pip setuptools wheel
#
##      ISSUE WITH THE BELOW:
##      Hangs at start /wait "" Miniconda3-latest-Windows-x86_64.exe /RegisterPython=0 /D=%temp%\Miniconda3
##      - name: Install pdf2text and ocr dependencies (Python 3.11)
##        # do full install and testing of pdf2text and ocr only on latest Python version
##        if: matrix.python-version == '3.11'
##        run: |
##          cd %temp%
##          dir
##          rem # install conda per https://conda.io/projects/conda/en/stable/user-guide/install/windows.html
##          curl https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe -O
##          powershell Get-FileHash Miniconda3-latest-Windows-x86_64.exe -Algorithm SHA256
##          echo hash should match the one at https://docs.conda.io/projects/miniconda/en/latest/
##          rem # below, /S = silent mode
##          start /wait "" Miniconda3-latest-Windows-x86_64.exe /RegisterPython=0 /D=%temp%\Miniconda3
##          del Miniconda3-latest-Windows-x86_64.exe /f
##          call "%temp%\Miniconda3\conda" install -y -c conda-forge poppler
##          rem # *** get latest tesseract filename from https://digi.bib.uni-mannheim.de/tesseract/?C=M;O=D
##          set TESSERACT=tesseract-ocr-w64-setup-5.3.1.20230401.exe
##          curl https://digi.bib.uni-mannheim.de/tesseract/%TESSERACT% -O
##          start /wait "" %TESSERACT% /S
##          del %TESSERACT% /f
##          pip install --upgrade keyring pdftotext Pillow pytesseract
##        shell: cmd
#
#      - name: Install all other dependencies
##        if: matrix.python-version <= '3.11'
#        run: |
#          pip install --upgrade coveralls -r requirements.txt -r tests/requirements_pytest.txt
#
##      - name: Install all other dependencies (Python 3.12)
##        if: matrix.python-version > '3.11'
##        run: |
##          pip install --upgrade greenlet==3.0.0a1 coveralls -r requirements.txt -r tests/requirements_pytest.txt
#
#      - name: Run tests
#        # workaround for Windows fatal exception: access violation
#        # python -m required to get it to run in the correct directory; '>' folded style scalar (allows splitting line)
#        run: >
#          python -m pytest -v --cov=./ --cov-report=term tests/ -p no:faulthandler
#
#      - name: Upload coverage data to coveralls.io (parallel)
#        run: coveralls --service=github
#        env:
#          GITHUB_TOKEN: ${{ secrets.github_token }}
#          COVERALLS_FLAG_NAME: tests-${{ matrix.python-version }}-${{ matrix.os }}
#          COVERALLS_PARALLEL: true
#        continue-on-error: true

  coveralls:
    name: Completion -> coveralls.io
#    needs: [test_ubuntu, test_macos, test_windows]
    # needs: [test_ubuntu, test_macos]
    needs: [test]
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - name: Coveralls parallel finished
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true

  deploy:
    name: Deploy release
    permissions:
      contents: write  # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write  # IMPORTANT: this permission is mandatory for create GitHub release
#    needs: [test_ubuntu, test_macos, test_windows]
    # needs: [test_ubuntu, test_macos]
    needs: [test]
    # ref https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Install uv per https://github.com/astral-sh/setup-uv / https://docs.astral.sh/uv/guides/integration/github
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: true

      - name: Restore uv cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.14'

      # Install pip dependencies
      - name: Install dependencies
        run: |
          uv pip install --upgrade build

      # build https://pypa-build.readthedocs.io/en/latest/
      - name: Build dist
        run: |
          python -m build

      # PyPI publish GitHub Action from https://github.com/pypa/gh-action-pypi-publish
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1


      - name: Create GitHub release
        uses: softprops/action-gh-release@aa05f9d77940d1a6b7a495c3264de51fabbf36d9 # master
        with:
          body_path: RELEASE.rst
          draft: false
          prerelease: false
          preserve_order: false
          make_latest: true

      - name: Minimize uv cache
        run: uv cache prune --ci
